In [ ]:
import pandas as pd

# Load training datasets
emotion_df = pd.read_csv(r'C:\Users\ajayn\Desktop\lg\twitter_analytics_task\data\emotions_train.csv')
sentiment_df = pd.read_csv(r'C:\Users\ajayn\Desktop\lg\twitter_analytics_task\data\training_senti.csv')

# Load final dataset
tweet_df = pd.read_pickle(r'C:\Users\ajayn\Desktop\lg\twitter_analytics_task\data\twitter_final_extract_cadmv.p')

print("Emotion data:", emotion_df.shape)
print("Sentiment data:", sentiment_df.shape)
print("Target data:", tweet_df.shape)

Emotion data: (38677, 3)
Sentiment data: (25000, 6)
Target data: (218, 10)

In [ ]:
import re
import string

def clean_tweet(text):
    text = re.sub(r'http\S+', '', text)  # remove URLs
    text = re.sub(r'@\w+', '', text)     # remove mentions
    text = re.sub(r'#\w+', '', text)     # remove hashtags
    text = re.sub(r'\d+', '', text)      # remove numbers
    text = text.lower()
    text = re.sub(f"[{re.escape(string.punctuation)}]", '', text)
    return text.strip()

In [ ]:
emotion_df.head(2), sentiment_df.head(2), tweet_df.head(2)

(     tweet_id sentiment                                            content
 0  1956967341     empty  @tiffanylue i know  i was listenin to bad habi...
 1  1956967666   sadness  Layin n bed with a headache  ughhhh...waitin o...,
    polarity    tweet_id                     timestamp     query      username  \
 0         4  1755709172  Sun May 10 09:49:44 PDT 2009  NO_QUERY   omgnadineee
 1         4  1963693716  Fri May 29 13:06:24 PDT 2009  NO_QUERY  FunFitFamily

                                                tweet
 0                               Going to Friendly's
 1  @WeFitFamilies Does a baseball tournament coun...  ,
                     id  in_reply_status_id  \
 0  1536213129041833985                 NaN
 1  1536176388813619201        1.535374e+18

                                                 text  \
 0  @CA_DMV is it possible to get a REAL ID with o...
 1  @CA_DMV I haven‚Äôt received my driving license ...

                                                 user  \
 0  User(_json={'id': 92934690, 'id_str': '9293469...
 1  User(_json={'id': 1536175331861614592, 'id_str...

                  created_at  favorite_count  retweets_count  \
 0 2022-06-13 05:05:26+00:00               0               0
 1 2022-06-13 02:39:26+00:00               0               0

    possibly_sensitive lang search_phrase
 0                   2   en       @ca_dmv
 1                   2   en       @ca_dmv  )

In [ ]:
sentiment_df

,polarity,tweet_id,timestamp,query,username,tweet
0,4,1755709172,Sun May 10 09:49:44 PDT 2009,NO_QUERY,omgnadineee,Going to Friendly's
1,4,1963693716,Fri May 29 13:06:24 PDT 2009,NO_QUERY,FunFitFamily,@WeFitFamilies Does a baseball tournament coun...
2,4,1833937915,Mon May 18 01:00:38 PDT 2009,NO_QUERY,xxkayla1521xx,"Had a long, fun day, but now I'm passing out, ..."
3,0,1835918558,Mon May 18 07:00:57 PDT 2009,NO_QUERY,awskerkatzin,"ready for another weekend... No, wait it's jus..."
4,0,2054003908,Sat Jun 06 06:18:23 PDT 2009,NO_QUERY,fielliabelle,Not going to Bandung and Singapore
...,...,...,...,...,...,...
24995,4,1834295321,Mon May 18 02:23:03 PDT 2009,NO_QUERY,XGraceStAcKX,just submitted to custom playlist suggested A...
24996,4,1998630979,Mon Jun 01 18:52:10 PDT 2009,NO_QUERY,artful_username,"@micahpearson Broke, but happy."
24997,4,1967058731,Fri May 29 18:53:56 PDT 2009,NO_QUERY,aauld,WITH CHELSEA. talkin about sexxxy aaron and hi...
24998,0,1691969146,Sun May 03 19:00:01 PDT 2009,NO_QUERY,passion4skating,Can't believe the weekend's over Missing the...
24999,4,1957731679,Fri May 29 01:25:55 PDT 2009,NO_QUERY,vanilla_gitta,"Watchin icarly, yeay, i love @jennettemcurdy, ..."

In [ ]:
tweet_df

,id,in_reply_status_id,text,user,created_at,favorite_count,retweets_count,possibly_sensitive,lang,search_phrase
0,1536213129041833985,NaN,@CA_DMV is it possible to get a REAL ID with o...,"User(_json={'id': 92934690, 'id_str': '9293469...",2022-06-13 05:05:26+00:00,0,0,2,en,@ca_dmv
1,1536176388813619201,1.535374e+18,@CA_DMV I haven‚Äôt received my driving license ...,"User(_json={'id': 1536175331861614592, 'id_str...",2022-06-13 02:39:26+00:00,0,0,2,en,@ca_dmv
2,1536109679360606208,1.045799e+18,@CA_DMV @Lawrence1999nk How does my friend ge...,"User(_json={'id': 1445093823856607239, 'id_str...",2022-06-12 22:14:21+00:00,0,0,2,en,@ca_dmv
3,1535789157758676992,NaN,RT @VisionZeroTech_: @vision_0_tech @blackente...,"User(_json={'id': 1387221200972222469, 'id_str...",2022-06-12 01:00:43+00:00,0,6,0,en,@ca_dmv
4,1535733653929709568,1.535654e+18,@radoshi @CA_DMV I see this a lot and it is ju...,"User(_json={'id': 2675, 'id_str': '2675', 'nam...",2022-06-11 21:20:10+00:00,1,0,2,en,@ca_dmv
...,...,...,...,...,...,...,...,...,...,...
213,1533212069037608961,1.532775e+18,@CA_DMV Ended up calling back 5 times to final...,"User(_json={'id': 1598989561, 'id_str': '15989...",2022-06-04 22:20:17+00:00,0,0,2,en,@ca_dmv
214,1533166238003671040,1.532820e+18,@CA_DMV Thank you üòä,"User(_json={'id': 916481316182462464, 'id_str'...",2022-06-04 19:18:10+00:00,0,0,2,en,@ca_dmv
215,1533160236420255744,1.533144e+18,@JacobPritchett @GwenDakota2 @LTADpartners Bes...,"User(_json={'id': 84205050, 'id_str': '8420505...",2022-06-04 18:54:19+00:00,0,0,0,en,@ca_dmv
216,1533144477799329792,NaN,@CA_DMV \nI just requested and ordered new pla...,"User(_json={'id': 17941237, 'id_str': '1794123...",2022-06-04 17:51:42+00:00,0,0,2,en,@ca_dmv
217,1533138229058080768,NaN,RT @CA_DMV: What‚Äôs more valuable than spending...,"User(_json={'id': 968643934745346049, 'id_str'...",2022-06-04 17:26:52+00:00,0,1,2,en,@ca_dmv

In [ ]:
# Clean emotion and sentiment training data
emotion_df['clean_text'] = emotion_df['content'].apply(clean_tweet)
sentiment_df['clean_text'] = sentiment_df['tweet'].apply(clean_tweet)

# Clean target data
tweet_df['clean_text'] = tweet_df['text'].apply(clean_tweet)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

# Features and labels
X_emotion = emotion_df['clean_text']
y_emotion = emotion_df['sentiment']

# Vectorize
tfidf = TfidfVectorizer(max_features=5000)
X_emotion_vec = tfidf.fit_transform(X_emotion)

# Train-test split
X_train_e, X_test_e, y_train_e, y_test_e = train_test_split(X_emotion_vec, y_emotion, test_size=0.2, random_state=42)

# Train model
emotion_model = LogisticRegression(max_iter=200)
emotion_model.fit(X_train_e, y_train_e)

# Evaluate
y_pred_e = emotion_model.predict(X_test_e)
print(classification_report(y_test_e, y_pred_e))

              precision    recall  f1-score   support

       anger       0.00      0.00      0.00        24
     boredom       0.00      0.00      0.00        49
       empty       0.00      0.00      0.00       141
  enthusiasm       0.00      0.00      0.00       144
         fun       0.17      0.01      0.02       361
   happiness       0.34      0.37      0.35      1023
        hate       0.42      0.11      0.18       235
        love       0.51      0.38      0.44       775
     neutral       0.33      0.57      0.41      1579
      relief       0.18      0.02      0.04       291
     sadness       0.33      0.23      0.27      1011
    surprise       0.28      0.04      0.07       412
       worry       0.34      0.49      0.40      1691

    accuracy                           0.35      7736
   macro avg       0.22      0.17      0.17      7736
weighted avg       0.32      0.35      0.31      7736

c:\Users\ajayn\anaconda3\envs\test\lib\site-packages\sklearn\metrics\_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Users\ajayn\anaconda3\envs\test\lib\site-packages\sklearn\metrics\_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Users\ajayn\anaconda3\envs\test\lib\site-packages\sklearn\metrics\_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

In [ ]:
# Features and labels
X_senti = sentiment_df['clean_text']
y_senti = sentiment_df['polarity'].replace(4, 1)  # 0 = negative, 1 = positive

# Reuse same TF-IDF vectorizer for consistency
X_senti_vec = tfidf.transform(X_senti)

# Train-test split
X_train_s, X_test_s, y_train_s, y_test_s = train_test_split(X_senti_vec, y_senti, test_size=0.2, random_state=42)

# Train model
senti_model = LogisticRegression(max_iter=200)
senti_model.fit(X_train_s, y_train_s)

# Evaluate
y_pred_s = senti_model.predict(X_test_s)
print(classification_report(y_test_s, y_pred_s))

              precision    recall  f1-score   support

           0       0.78      0.76      0.77      2520
           1       0.77      0.79      0.78      2480

    accuracy                           0.77      5000
   macro avg       0.77      0.77      0.77      5000
weighted avg       0.77      0.77      0.77      5000

In [ ]:
# Vectorize final tweets
tweet_vec = tfidf.transform(tweet_df['clean_text'])

# Predict emotion & sentiment
tweet_df['predicted_emotion'] = emotion_model.predict(tweet_vec)
tweet_df['predicted_sentiment'] = senti_model.predict(tweet_vec)

In [ ]:
!pip install yake

Collecting yake
  Downloading yake-0.6.0-py3-none-any.whl.metadata (10 kB)
Requirement already satisfied: click>=6.0 in c:\users\ajayn\anaconda3\envs\test\lib\site-packages (from yake) (8.1.8)
Collecting jellyfish (from yake)
  Downloading jellyfish-1.2.0-cp310-cp310-win_amd64.whl.metadata (2.6 kB)
Requirement already satisfied: networkx in c:\users\ajayn\anaconda3\envs\test\lib\site-packages (from yake) (3.4.2)
Requirement already satisfied: numpy>=1.23.5 in c:\users\ajayn\anaconda3\envs\test\lib\site-packages (from yake) (1.26.4)
Collecting segtok (from yake)
  Downloading segtok-1.5.11-py3-none-any.whl.metadata (9.0 kB)
Collecting tabulate (from yake)
  Using cached tabulate-0.9.0-py3-none-any.whl.metadata (34 kB)
Requirement already satisfied: colorama in c:\users\ajayn\anaconda3\envs\test\lib\site-packages (from click>=6.0->yake) (0.4.6)
Requirement already satisfied: regex in c:\users\ajayn\anaconda3\envs\test\lib\site-packages (from segtok->yake) (2024.11.6)
Downloading yake-0.6.0-py3-none-any.whl (80 kB)
Downloading jellyfish-1.2.0-cp310-cp310-win_amd64.whl (217 kB)
Downloading segtok-1.5.11-py3-none-any.whl (24 kB)
Using cached tabulate-0.9.0-py3-none-any.whl (35 kB)
Installing collected packages: tabulate, segtok, jellyfish, yake

   ---------- ----------------------------- 1/4 [segtok]
   ------------------------------ --------- 3/4 [yake]
   ---------------------------------------- 4/4 [yake]

Successfully installed jellyfish-1.2.0 segtok-1.5.11 tabulate-0.9.0 yake-0.6.0

In [ ]:
import yake

kw_extractor = yake.KeywordExtractor(top=1)

def extract_topic(text):
    try:
        keywords = kw_extractor.extract_keywords(text)
        return keywords[0][0] if keywords else ''
    except:
        return ''

tweet_df['topic'] = tweet_df['clean_text'].apply(extract_topic)

In [ ]:
avg_polarity_per_topic = tweet_df.groupby('topic')['predicted_sentiment'].mean().sort_values(ascending=False)

print("üîπ Average polarity per topic:\n")
print(avg_polarity_per_topic.head(10))

üîπ Average polarity per topic:

topic
perception problems andor    1.0
review process               1.0
request union state          1.0
renew online                 1.0
registration and tabs        1.0
reference number             1.0
recently just refinanced     1.0
question                     1.0
pomona location amp          1.0
plates are working           1.0
Name: predicted_sentiment, dtype: float64

In [ ]:
top_emotions_per_topic = (
    tweet_df.groupby('topic')['predicted_emotion']
    .value_counts()
    .groupby(level=0)
    .nlargest(3)
    .reset_index(level=0)
)

Top 3 Most Popular Emotions per Topic

In [ ]:
print("üîπ Top 3 emotions per topic:\n")
top_emotions_per_topic.head(10)

üîπ Top 3 emotions per topic:

                                                                             topic  \
topic                           predicted_emotion
                                neutral
                                happiness
                                worry
accident                        worry                                     accident
address request                 neutral                            address request
admiral in navy                 worry                              admiral in navy
appointment                     worry                                  appointment
approaches million californians neutral            approaches million californians
approved dmv didnt              worry                           approved dmv didnt
attempt domestic date           happiness                    attempt domestic date

                                                   count
topic                           predicted_emotion
                                neutral               10
                                happiness              4
                                worry                  2
accident                        worry                  1
address request                 neutral                1
admiral in navy                 worry                  1
appointment                     worry                  1
approaches million californians neutral                1
approved dmv didnt              worry                  1
attempt domestic date           happiness              1

Overall Average Sentiment of Most Popular Tweets

In [ ]:
tweet_df['popularity'] = tweet_df['favorite_count'] + tweet_df['retweets_count']

# Sort by popularity and take top 50
popular_tweets = tweet_df.sort_values(by='popularity', ascending=False).head(50)

# Get average sentiment (0 = negative, 1 = positive)
popular_avg_sentiment = popular_tweets['predicted_sentiment'].mean()

print(f"üîπ Overall average sentiment of most popular tweets: {popular_avg_sentiment:.2f}")

üîπ Overall average sentiment of most popular tweets: 0.72

Most Discussed Topics:
This simply shows which topics appeared most frequently.

In [ ]:
most_discussed_topics = tweet_df['topic'].value_counts().head(10)

print("üîπ Most discussed topics:\n")
print(most_discussed_topics)

üîπ Most discussed topics:

topic
                                 16
years too late                    4
emails phone logs                 2
san franciscos interpretation     2
email address                     2
attempt domestic date             2
cruising open houses              2
plates are working                2
register tip report               2
congrats class                    2
Name: count, dtype: int64

In [ ]:
tweet_df.head()

,id,in_reply_status_id,text,user,created_at,favorite_count,retweets_count,possibly_sensitive,lang,search_phrase,clean_text,predicted_emotion,predicted_sentiment,topic,popularity
0,1536213129041833985,NaN,@CA_DMV is it possible to get a REAL ID with o...,"User(_json={'id': 92934690, 'id_str': '9293469...",2022-06-13 05:05:26+00:00,0,0,2,en,@ca_dmv,is it possible to get a real id with only the ...,sadness,0,valid visa stamp,0
1,1536176388813619201,1.535374e+18,@CA_DMV I haven‚Äôt received my driving license ...,"User(_json={'id': 1536175331861614592, 'id_str...",2022-06-13 02:39:26+00:00,0,0,2,en,@ca_dmv,i haven‚Äôt received my driving license for over...,worry,0,temporary driving license,0
2,1536109679360606208,1.045799e+18,@CA_DMV @Lawrence1999nk How does my friend ge...,"User(_json={'id': 1445093823856607239, 'id_str...",2022-06-12 22:14:21+00:00,0,0,2,en,@ca_dmv,how does my friend get her license back if sh...,worry,0,violations involved,0
3,1535789157758676992,NaN,RT @VisionZeroTech_: @vision_0_tech @blackente...,"User(_json={'id': 1387221200972222469, 'id_str...",2022-06-12 01:00:43+00:00,0,6,0,en,@ca_dmv,rt ‚Ä¶,neutral,1,,6
4,1535733653929709568,1.535654e+18,@radoshi @CA_DMV I see this a lot and it is ju...,"User(_json={'id': 2675, 'id_str': '2675', 'nam...",2022-06-11 21:20:10+00:00,1,0,2,en,@ca_dmv,i see this a lot and it is just ü§¶‚Äç‚ôÇÔ∏è,neutral,1,lot,1

In [ ]:
tweet_df.to_csv('final_analysis_with_predictions.csv', index=False)